@font-face {
    font-family: normalFont;
    src: url('sohogothicpro-regular.eot');
    src: url('sohogothicpro-regular.eot') format('embedded-opentype'),
         url('sohogothicpro-regular.woff') format('woff'),
         url('sohogothicpro-regular.ttf') format('truetype'),
         url('sohogothicpro-regular.svg#SohoGothicProRegular') format('svg');
}


body {
	background-color: white;
	font-family: normalFont;
	font-size: 14px;
	margin: 0px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
	padding:0px;
}


/*header BEGIN*/
.header {
	height: 54px;
	margin:31px auto 12px auto;
	width: 918px;
}
.logoContainer {
	float:left;
}
.logoText {
	font-size:21px;/*22.94 pt;*/
	color: #8b8988;
	position: relative;
	top:-20px;
	left:5px;
	letter-spacing: 1px;
}

.nav {
	float: right;
	position: relative;
	left:12px;
}
.navItem {
	float:left;
}
.navLink {
	padding:2px 8px 3px 8px;
	color: #468fc5;
	font-size: 16px;
	text-transform: capitalize;
}
.active {
	background-color: #d5d5d5;
	color: #5a5a59;
}
/*header END*/


/*secondary header BEGIN*/
.sHeaderContainer {
	background-image: url(../img/sHeaderBcg.png);
	height: 246px;
	background-repeat: repeat-x;
}
.sHeader {
	width:918px;
	margin:0px auto;
	text-align: center;
	padding-top: 38px;
	letter-spacing: 1px;
}
.sNavHeading {
	font-size: 29px;
	text-shadow:1px 1px 3px #43799b;
	color:white;
}

.navImg1 {
	width:64px;
	height:69px;
	background: url(../img/sHeaderSprites.png) 0 0; 
}

.navImg2 {
	width:107px;
	height:69px;
	background: url(../img/sHeaderSprites.png) -65px 0; 
}

.navImg3 {
	width:84px;
	height:69px;
	background: url(../img/sHeaderSprites.png) -171px 0; 
}
.sNav {
	margin-top: 21px;
}
.sNavItem {
	float:left;
	margin-left:89px;
	width: 160px;
	margin-right:38px; /*!!*/
}
.sNavItemName {
	text-transform: capitalize;
	position: relative;
	top: 2px;
}

.outerNavCircle {
	border:1px solid transparent;
	width: 108px;
	height: 108px;
	/*display:none;*/
	text-align: center;
	margin:0px auto;

	-webkit-border-radius: 55px;
	-moz-border-radius: 55px;
	border-radius: 55px;
}
.outerNavCircle:hover {
	border:1px solid #d3d2d2;
	background-color: white;
}	
.innerNavCircle {
	border:1px solid #d3d2d2;
	background-color: white;
	width: 100px;
	height: 100px;
	margin:3px 0 0 3px;

	-webkit-border-radius: 51px;
	-moz-border-radius: 51px;
	border-radius: 51px;
}
.sNavImage {
	position: relative;
	top:20px;
}
.sNavLink {
	color: black;
}
/*secondary header END*/

/*content BEGIN*/
.content {
	width: 923px;
	margin:0px auto;
}

/*main BEGIN*/
.main {
	width:610px;
	margin-top: 23px;
	float:left;
	margin-right: 63px;
}

p {
	margin: 0px;
	letter-spacing: 0.01em;
	line-height: 20px;
	margin-bottom: 7px;

}

.emParagraph {
	font-size: 18px;
	padding-top: 26px;
	text-align: center;
	line-height: 21px;
	width:521px;
	margin:0px auto;
	padding-bottom: 34px;
}

.strongParagraph {
	background-color: #4e97c9;
	width: 486px;
	margin: 0px auto;
	margin-top: 13px;
	margin-left: 35px;
	text-align: center;
	line-height: 26px;
	color: white;
	text-shadow: 1px 1px 3px #43799b;
	font-size: 16px;
	padding: 14px 40px 16px 28px;
}
.small {
	font-size:13px;
}
.button {
	display: inline;
	color: white;
    height: auto;
    margin:0px 2px;
    border-top:2px solid #b9e099;
    border-bottom: 1px solid #4c9124;
    border-right:1px solid #9bb389;
    border-left:1px solid #9bb389;
    padding: 2px 14px;
    width: auto;

    -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.59);
	-moz-box-shadow:    0px 1px 2px 0px rgba(0, 0, 0, 0.59);
	box-shadow:         0px 1px 2px 0px rgba(0, 0, 0, 0.59);

	cursor: pointer;

	background: #84c84e; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg0Yzg0ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MWFhNDIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #84c84e 0%, #71aa42 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#84c84e), color-stop(100%,#71aa42)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #84c84e 0%,#71aa42 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #84c84e 0%,#71aa42 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #84c84e 0%,#71aa42 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #84c84e 0%,#71aa42 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84c84e', endColorstr='#71aa42',GradientType=0 ); /* IE6-8 */

}

.button:hover {
	background: #6eb238; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzZlYjIzOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZTk4MmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #6eb238 0%, #5e982f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6eb238), color-stop(100%,#5e982f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6eb238 0%,#5e982f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6eb238 0%,#5e982f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6eb238 0%,#5e982f 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #6eb238 0%,#5e982f 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6eb238', endColorstr='#5e982f',GradientType=0 ); /* IE6-8 */
}
.button:active {
	background: #5e982f; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVlOTgyZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZWIyMzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #5e982f 0%, #6eb238 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e982f), color-stop(100%,#6eb238)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5e982f 0%,#6eb238 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5e982f 0%,#6eb238 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5e982f 0%,#6eb238 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5e982f 0%,#6eb238 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e982f', endColorstr='#6eb238',GradientType=0 ); /* IE6-8 */


}
/*main END*/


/*sidebar BEGIN*/
.sidebar {
	width: 247px;
	float:left;
}

textarea {
	margin:0;
	padding: 0;
}
.heading {
	text-transform: uppercase;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	color: #468ec4;
	height: 43px;
	margin-left: -13px;
}
.heading::after {
	background-image: url(../img/headingAfter.png);
	content: " ";
	height: 17px;
	width: 64px;
	position: absolute;
	margin: 28px 0 0 -117px;
}
.requestForm {
	margin-top: 22px;
}
.label {
	font-size:12px;
	text-transform: capitalize;
	letter-spacing: -0.08em;
}
.input {
	border:2px solid #c4c4c4;
	padding: 8px;
	width: 227px;
}
.textarea {
	height: 55px;
}

.send {
	float: right;
	position: relative;
	top: 6px;
	left: 2px;
}
.another {
	color:#336699;
	cursor: pointer;
	font-size: 13px;
	width: 100%;
	float: right;
	letter-spacing: -0.015em;
	text-align: right;
	text-decoration: underline;
	margin-top: 5px;
}

.testimonials {
	margin-top: 78px;
}
.tClient {
	margin-top: 6px;
}
.tCompany {
	font-size: 10px;
	margin-top: 3px;
}
.tText {
	margin-left: 40px;
	margin-top: 16px;
	font-size: 12px;
}
.tText::before {
	background-image: url(../img/quote.png);
	content: " ";
	height: 18px;
	width: 25px;
	position: absolute;
	margin: 0 0 0 -39px;
}
.more {
	margin-top: 15px;
	float: right;
	padding: 2px 4px;
	margin-left: 2px;
}
/*sidebar END*/

/*content END*/


.footerContainer {
	clear: both;
	background-image: url(../img/footerBcg.png);
	height: 99px;
	background-repeat: repeat-x;
	position: relative;
	top: 51px;
}
.footer {
	width: 964px;
	margin:0px auto;
	font-size:12px;
}
.fNav {
	float: left;
	position: relative;
	left:12px;
	margin-top: 21px;
}
.fNav .navLink {
	font-size: 12px;
}	
.fActive {
	background-color: #f4f4f4;
	color: #5a5a59;
}
.copyright {
	float: right;
	color:#5a5a59;
	margin-top: 20px;
	margin-right: 10px;
}
.socialImg1 {
	width:32px;
	height:32px;
	background: url(../img/socialSprites.png) 0 0; 
}
.socialImg2 {
	width:32px;
	height:32px;
	background: url(../img/socialSprites.png) -32px 0; 
}
.socialImg3 {
	width:32px;
	height:32px;
	background: url(../img/socialSprites.png) -64px 0; 
}
.social {
	clear:both;
	position: relative;
	top: 2px;
	left: 10px;
}
.socImg {
	margin-right: 12px;
}


.error {
	border:2px solid #e98c8c;
}

.err {
	color:black;
	background-color: #f9e0e0;
	padding:7px 10px;
	display:none;
	margin-top: 13px;
	border:2px solid #f9e0e0;
} 
.errHeading {
	color:#c80000;
	margin-bottom: 3px;
}

.success {
	color:black;
	background-color: #ddeece;
	padding:7px 10px;
	margin-top: 23px;
	border:2px solid #ddeece;
} 
.successWrapper {
	display:none;
}
.successHeading {
	color:#65953f;
	margin-bottom: 3px;
}


.input:focus {
	border:2px solid #7f7f7f;
}