body {
	margin:0px;
	padding: 0px;
}
.pixel {

	opacity:0.5;
	position: absolute;
	left:32px;
}
body {
	font-family: normalFont;
}

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}


@font-face {
    font-family: companyFont;
    src: url(defaultgothicbgauge-webfont.ttf);
}
@font-face {
    font-family: normalFont;
    src: url(SohoGothicPro-Regular.otf);
}


.heading, .nav a{
	color: #468fc5;
}

.mainHeader{
	width: 922px;
	margin:0px auto;
	height: 55px;
	padding-top: 31px;
	padding-bottom: 12px;
}
.logo {
	text-transform: uppercase;
	font-size:21px;
	color: #8b8988;
	float: left;
	height: 55px;
}
.logoText{
	position: relative;
	top: -20px;
	letter-spacing: 1px;
}
.nav {
	height: 25px;
	font-size: 15px;
	float:right;
	padding-top: 14px;
	text-transform: capitalize;
}
.nav > ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
.nav > ul > li {
	float:left;
}
.nav > ul > li.active a {
	background-color: #d5d5d5;
	color: #5a5a59;
}
.nav > ul > li > a{
	padding:1px 7px 3px 12px;
	width: 80px;
}

.appTypes {
	background-image: url(../img/appTypesBcg.png);
	background-repeat: repeat-x;
	height: 210px;
	padding-top: 36px;
}
.appTypeHeader {
	width:922px;
	margin:0px auto;
}
.content {
	width:930px;
	margin:0px auto;
	height: auto;
	min-height: 600px;
}
.appTypeContainer {
	width:694px;
	margin:0px auto;
}

.appTypeContainer, .appTypeHeader {
	text-align: center;
}

.appTypeHeader {
	font-size: 29px;
	color: white;
	text-shadow:2px 2px 4px #42789b;
	font-weight: bold;
	height: 65px;
	letter-spacing: 0.015em;
}
.appTypeHeading{
}
.content {
	margin-top:23px;
}
.main {
	width: 594px;
	font-size: 15px;
	/*word-spacing: -0.1em;*/
}
.emText {
    font-size: 17px;
    letter-spacing: 0.02em;
    line-height: 24px;
    padding: 22px 37px 32px 64px;
    text-align: center;
}
.stText{
	font-size: 17px;
	text-align: center;
	background-color: #4e97c9;
	color: white;
	text-shadow:2px 2px 4px #42789b;
	padding:12px 32px;
}

.stTextContainer{
	padding:7px 15px 7px 36px;
}
.normalText {
	text-align: justify;
	line-height: 18px;
	letter-spacing: -0.02em;
	margin-bottom: 11px;
}
.button{
	background-image: url(../img/buttonBcg.png);
	background-repeat: repeat-x;
	height: 29px;
	width: auto;
	margin: 0px 5px;
	padding:2px 4px;
	color: white;
	text-shadow: 2px 2px 4px #42789b;
	cursor: pointer;
}

.button::before{
	background-image: url(../img/buttonBefore.png);
	content: " ";
	height: 29px;
	width: 3px;
	position: absolute;
	margin: -2px 0 0 -7px;
}

.button::after{
	background-image: url(../img/buttonAfter.png);
	content: " ";
	height: 29px;
	width: 3px;
	position: absolute;
	margin: -2px 0 0 4px;
}


.button:hover{
	background-image: url(../img/buttonBcgOver.png);
}
.button:active{
	background-image: url(../img/buttonBcgClick.png);
}

.button:hover::before{
	background-image: url(../img/buttonBeforeOver.png);
}
.button:hover::after{
	background-image: url(../img/buttonAfterOver.png);
}
.button:active::before{
	background-image: url(../img/buttonBeforeClick.png);
}
.button:active::after{
	background-image: url(../img/buttonAfterClick.png);
}


.appTypeOutside {
	width:102px;
	height: 102px;
	padding:3px;
	border:1px solid transparent;
    border-radius: 54px;
}
.appTypeOutside:hover{
    background-color: rgba(255, 255, 255, 0.5); /*#4f99cc; */
	border:1px solid #b2b2b2;
}

.appTypeInside {
	width:100px;
	height: 100px;
	border:1px solid #d0d0d0;
    background-color: white;
    border-radius: 50px;
}


.appTypeInside > a {
	color: black;
	font-size: 15px;
}
.appType {
	height:150px;
	width:112px;
	float:left;
	margin-right: 175px;
}
.appType:last-child {
	margin-right: 0px;
}



.sidebar {
	width: 248px;
	margin-left:79px;
}

.main, .sidebar {
	float: left;
}
.footer {
	clear: both;
}

.heading {
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	height:39px;
	font-weight: bold;
	font-size: 15px;

}

.heading::after {
	background-image: url(../img/headingAfter.png);
	content: " ";
	height: 17px;
	width: 64px;
	position: absolute;
	margin: 26px 0 0 -112px;
}

label {
	font-size: 11px;
}

.form {
	width:232px;
}

.input {
	border:2px solid #c4c4c4;
	width:100%;
	font-size: 14px;
	border-radius: 3px;
	padding: 8px 6px;
}
.input:focus {
	border-color: #7f7f7f;
}

.error, .error:focus {
	border-color: #e98c8c;
}
.errorMsg {
	display: none;
	background-color: #f9e0e0;
	font-size: 14px;    
	border: 2px solid #f9e0e0;
	color: black;
	border-radius: 3px;
	margin-top:12px;    
	padding: 4px 6px;
    width: 100%;
}
.errorMsg > div {

	color: #c80000;
}
.visible {
	display: block;
}
.textarea {
	height: 52px;
}
.right {
	float: right;
	clear: both;
	margin-top: 8px;
}

.testimonials {
	clear: both;    
	position: relative;
    top: 40px;
}


.clientInfo {
	margin-top: 9px;
}
.clientName {
    font-size: 14px;
    font-weight: bold;
}

.clientCompany {
    font-size: 11px;
    color: #646464;

}

.clientText {
    font-size: 13px;
    letter-spacing: -0.03em;
    line-height: 18px;
    padding-left: 40px;
    padding-top: 13px;
    width: 210px;
}
.clientText::before {
	background-image: url(../img/quote.png);
	content: " ";
	height: 18px;
	width: 25px;
	position: absolute;
	margin: 0 0 0 -39px;
}

.buttonWrapper{
	height: 29px;	
}

.footerContainer {    
	background-color: #e8e8e8;
    height: 98px;
}
.footer {
	height: 98px;
	width: 948px;
	margin:0px auto;
	padding-top: 18px;
	font-size:12px;
}

.smallNav {
	float:left;
	padding-top: 0px;
	font-size: 12px;
}
.smallNav > ul > li > a {
	padding:1px 5px 3px 11px;
}

.smallNav > ul > li.active a {
	background-color: #f4f4f4;
	color: #5a5a59;
}

.copyright {
	float: right;    
	letter-spacing: -0.015em;
    margin-right: 13px;
    color: #5a5a59;
}

.footerTop{
	height: 20px;
}
.social {
	padding-top: 14px;
}
.socialItem {
	margin-right: 12px;
}